language: python

dist: xenial

python:
  - "3.6"
  - "3.7"

install:
  - pip install .[test,wordlist]

script:
  - coverage run -m unittest tests --quiet
  - coverage report --show-missing
  - codecov
